<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AiTransfere</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>AiTransfere</h1>
    <h2>"Power to the user"</h2>
  </header>
  <main>
    <form class="fileUploadForm" method="POST">
      <div class="fileUpload">
        <label class="fileUpload__label">Choose a file</label>
        <input class="fileUpload__input" type="file">
      </div>
      <button type="submit">Upload</button>
    </form>
    <p class="messages"></p>
  </main>
  <script src="/js/upload.js"></script>
  <script src="/js/fileinput.js"></script>
</body>
</html>